// Light Mode for background colours
$colour-primary-bg: #ffffff;
$colour-secondary-bg: #b3b4b5;

// Light Mode text colours
$colour-primary-txt: #111827;
$colour-secondary-txt: #4b5563;
$colour-accent-txt: #9ca3af;

// Light Mode colours
$colour-primary-accent: #00a7e1;
$colour-secondary-accent: #003459;
$colour-tertiary-accent: #00171f;
$colour-border: #e5e7eb;

// Dark Mode colours
$colour-primary-dark-bg: #0f172a;
$colour-secondary-dark-bg: #1e293b;

// Dark Mode text colours
$colour-primary-dark-txt: #e5e7eb;
$colour-secondary-dark-txt: #cbd5e1;
$colour-accent-dark-txt: #94a3b8;

// Dark Mode Accent colours
$colour-primary-dark-accent: #60a5fa;
$colour-secondary-dark-accent: #a78bfa;
$colour-tertiary-dark-accent: #2dd4bf;
$colour-dark-border: #334155;
