:root {
  // Light Mode for background colours
  --colour-primary-bg: #ffffff;
  --colour-secondary-bg: #b3b4b5;
  --colour-layer-bg: #222;
  --colour-layer-secondary-bg: #00a7e1;
  --colour-glass: #d5d5d5;

  // Light Mode text colours
  --colour-primary-txt: #111827;
  --colour-secondary-txt: #4b5563;
  --colour-accent-txt: #9ca3af;

  // Light Mode colours
  --colour-primary-accent: #00a7e1;
  --colour-secondary-accent: #003459;
  --colour-tertiary-accent: #00171f;
  --colour-border: #e5e7eb;
}

.theme-dark {
  // Light Mode for background colours
  --colour-primary-bg: #181818;
  --colour-secondary-bg: #282828;
  --colour-layer-bg: #082567;
  --colour-layer-secondary-bg: #af0c15;
  --colour-glass: #282828;

  // Light Mode text colours
  --colour-primary-txt: #003459;
  --colour-secondary-txt: #687587;
  --colour-accent-txt: #9ca3af;

  // Light Mode colours
  --colour-primary-accent: #d2292d;
  --colour-secondary-accent: #0d3580;
  --colour-tertiary-accent: #00171f;
  --colour-border: #3f3f3f;
}

// Breakpoints
$breakpoints: (
  xs: 400px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);
