:root {
  // Light Mode background colours
  --colour-primary-bg: hsl(0, 0%, 100%);
  --colour-secondary-bg: hsl(210, 1%, 71%);
  --colour-layer-bg: hsl(0, 0%, 13%);
  --colour-layer-secondary-bg: hsl(195, 100%, 44%);
  --colour-glass: hsl(0, 0%, 84%);

  // Light Mode text colours
  --colour-primary-txt: hsl(180, 43, 4);
  --colour-secondary-txt: hsl(215, 14%, 34%);
  --colour-accent-txt: hsl(218, 11%, 65%);

  // Light Mode accent colours
  --colour-primary-accent: hsl(195, 100%, 44%);
  --colour-secondary-accent: hsl(205, 100%, 17%);
  --colour-tertiary-accent: hsl(195, 100%, 6%);
  --colour-border: hsl(220, 13%, 91%);
}

.theme-dark {
  // Dark Mode background colours
  --colour-primary-bg: hsl(180, 47%, 3%);
  --colour-secondary-bg: hsl(210, 1%, 20%);
  --colour-layer-bg: hsl(210, 1%, 13%);
  --colour-layer-secondary-bg: hsl(205, 100%, 17%);
  --colour-glass: hsl(210, 1%, 20%);

  // Dark Mode text colours
  --colour-primary-txt: hsl(180, 43%, 96%);
  --colour-secondary-txt: hsl(215, 14%, 34%);
  --colour-accent-txt: hsl(218, 11%, 65%);

  // Dark Mode accent colours
  --colour-primary-accent: hsl(195, 100%, 56%);
  --colour-secondary-accent: hsl(205, 100%, 83%);
  --colour-tertiary-accent: hsl(195, 100%, 94%);
  --colour-border: hsl(220, 13%, 91%);
}

// Breakpoints
$breakpoints: (
  xs: 400px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);
