@use "../abstracts/mixins" as *;

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.socials-icon {
  width: 6rem;
  height: 6rem;

  @include respond(sm) {
    width: 8rem;
    height: 8rem;
  }

  color: var(--color-primary);
  margin: 0 1rem;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-secondary);
  }
}

.hero-img {
  width: 100%;
  max-width: 420px;
  height: auto;
  object-fit: cover;
}
