.infoCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;

  background-color: color-mix(in srgb, var(--color-surface-container-lowest) 50%, transparent);
  border-radius: 25px;
  backdrop-filter: blur(50px) brightness(125%);

  box-shadow: -26px 26px 74px -5px rgba(0, 0, 0, 0.15);
}
