@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.header-logo {
  display: inline-flex;
  align-items: baseline;
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--colour-secondary-txt);
}

.header-logo-dot {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.6rem;
  border-radius: 50%;
  background-color: var(--colour-primary-accent);
  transform: translateY(0.16rem);
}

.header-btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--colour-primary-accent);
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;

  @include respond(sm) {
    padding: 1rem 2.6rem;
    font-size: 1.6rem;

    &:hover {
      background-color: color-mix(
        in srgb,
        var(--colour-secondary-accent) 90%,
        black
      );
    }
  }
}

.navbar {
  position: sticky;
  top: 0;

  z-index: 1500;
  width: 100%;
  box-sizing: border-box;
  background: rgba(var(--colour-glass), 0.6);
  backdrop-filter: blur(12px) brightness(130%);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2);

  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;

  &--component {
    display: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 3rem;
    color: var(--colour-accent-txt);
  }

  @include respond(sm) {
    padding: 2rem 3rem;

    .navbar--component {
      display: inline-flex;
      align-items: center;
      padding: 0.6rem 1.2rem;
      border-radius: 20px;
      transition: transform 200ms ease, box-shadow 200ms ease,
        background-color 200ms ease, color 200ms ease;
    }

    .navbar--component[aria-current="page"] {
      color: var(--colour-secondary-accent);
      transform: translateY(-2px);
    }
  }
}
